*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #0a0f0f;
    padding: 10px;
    /* border-bottom: 1px solid #c0caca; */
}

h2{
    color: #2a3f3f;
}

header h2{
    font-weight: 600;
}

header img{
    width: 200px;
    height: 200px;
    border: 7px solid #96D4D4;;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    
}

main{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

@media(max-width:600px){
    main{
        width: 80%;
    }
}

.about h2{
    padding: 5px 0;
}

.about .bd{
    width: 150px;
    height: 15px;
    background-color: #96D4D4;
}

.timeline-heading{
    margin: 10px 0;
    
}

.timeline{
    margin: 20px 0;
}

.timeline .head{
    display: flex;
    align-items: center;
}

.timeline .head .bd{
    width: 20px;
    height: 10px;
    background-color: #96D4D4;
    margin-right: 10px ;
}

.timeline .writeup{
    padding: 10px 7px;
}
blockquote{
    margin: 5px 0;
    font-family: monospace;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

figcaption{
    font-size: 0.65rem;
    opacity: 0.7;
}